<a href="https://colab.research.google.com/github/VilmarJNR/ONE-TelecomX/blob/main/TelecomX_BR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ðŸ“Œ ExtraÃ§Ã£o

In [1225]:
#importando bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import requests

In [1226]:
#link dos dados
url = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science/refs/heads/main/TelecomX_Data.json'

In [1227]:
#lendo os dados
dados = requests.get(url).json()
df = pd.json_normalize(dados)

In [1228]:
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

#ðŸ”§ TransformaÃ§Ã£o

In [1229]:
#informaÃ§Ãµes dos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [1230]:
#somando valores vazios
df.isnull().sum()

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

In [1231]:
#duplicadas
duplicados = df.duplicated().sum()
print(f'Existem {duplicados} duplicados')

#se jÃ¡ tiver duplicadas para removelas
if duplicados > 0:
  df = df.drop_duplicates()
  print(f'Duplicadas removidas! {df.shape}')

Existem 0 duplicados

In [1232]:
#verificar null
valor_ausente = df.isnull().any(axis=1).sum()

if valor_ausente > 0:
  df = df.dropna()
  print(f'Valores ausentes removidos! {df.shape}')
else:
  print('NÃ£o existem valores ausentes')

NÃ£o existem valores ausentes

In [1233]:
# Converter 'Charges.Total' para numÃ©rico
df['account.Charges.Total'] = pd.to_numeric(df['account.Charges.Total'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [1234]:
# Codificar 'Churn' (Yes/No â†’ 1/0)
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})

In [1235]:
# Verificando dados vazios
df.isna().sum()

customerID                     0
Churn                        224
customer.gender                0
customer.SeniorCitizen         0
customer.Partner               0
customer.Dependents            0
customer.tenure                0
phone.PhoneService             0
phone.MultipleLines            0
internet.InternetService       0
internet.OnlineSecurity        0
internet.OnlineBackup          0
internet.DeviceProtection      0
internet.TechSupport           0
internet.StreamingTV           0
internet.StreamingMovies       0
account.Contract               0
account.PaperlessBilling       0
account.PaymentMethod          0
account.Charges.Monthly        0
account.Charges.Total         11
dtype: int64

In [1236]:
# Tratado os valores vazios ['Churn']
df = df.dropna()
df.isna().sum()

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

In [1237]:
# Verificar os valores Ãºnicos em cada coluna
for coluna in df.columns:
    valores_unicos = df[coluna].unique()
    print(f'Valores Ãºnicos na coluna {coluna}:')
    print(valores_unicos)
    print('\n')

Valores Ãºnicos na coluna customerID:
['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']


Valores Ãºnicos na coluna Churn:
[0. 1.]


Valores Ãºnicos na coluna customer.gender:
['Female' 'Male']


Valores Ãºnicos na coluna customer.SeniorCitizen:
[0 1]


Valores Ãºnicos na coluna customer.Partner:
['Yes' 'No']


Valores Ãºnicos na coluna customer.Dependents:
['Yes' 'No']


Valores Ãºnicos na coluna customer.tenure:
[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42]


Valores Ãºnicos na coluna phone.PhoneService:
['Yes' 'No']


Valores Ãºnicos na coluna phone.MultipleLines:
['No' 'Yes' 'No phone service']


Valores Ãºnicos na coluna internet.InternetService:
['DSL' 'Fiber optic' 'No']


Valores Ãºnicos na coluna internet.OnlineSecurity:
['No' 'Yes' 'No internet service']


Valores Ãºnicos na coluna internet.OnlineBackup:
['Yes' 'No' 'No internet service']


Valores Ãºnicos na coluna internet.DeviceProtection:
['No' 'Yes' 'No internet service']


Valores Ãºnicos na coluna internet.TechSupport:
['Yes' 'No' 'No internet service']


Valores Ãºnicos na coluna internet.StreamingTV:
['Yes' 'No' 'No internet service']


Valores Ãºnicos na coluna internet.StreamingMovies:
['No' 'Yes' 'No internet service']


Valores Ãºnicos na coluna account.Contract:
['One year' 'Month-to-month' 'Two year']


Valores Ãºnicos na coluna account.PaperlessBilling:
['Yes' 'No']


Valores Ãºnicos na coluna account.PaymentMethod:
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']


Valores Ãºnicos na coluna account.Charges.Monthly:
[65.6  59.9  73.9  ... 91.75 68.8  67.85]


Valores Ãºnicos na coluna account.Charges.Total:
[ 593.3   542.4   280.85 ...  742.9  4627.65 3707.6 ]

In [1238]:
#transformar/ traduzir colunas
df.columns.tolist()

['customerID',
 'Churn',
 'customer.gender',
 'customer.SeniorCitizen',
 'customer.Partner',
 'customer.Dependents',
 'customer.tenure',
 'phone.PhoneService',
 'phone.MultipleLines',
 'internet.InternetService',
 'internet.OnlineSecurity',
 'internet.OnlineBackup',
 'internet.DeviceProtection',
 'internet.TechSupport',
 'internet.StreamingTV',
 'internet.StreamingMovies',
 'account.Contract',
 'account.PaperlessBilling',
 'account.PaymentMethod',
 'account.Charges.Monthly',
 'account.Charges.Total']

In [1239]:
#alterando nome das colunas
df = df.rename(columns={
    'customerID': 'ID_Cliente',
    'Churn': 'Cancelado',
    'customer.gender': 'Sexo',
    'customer.SeniorCitizen': 'Idoso',
    'customer.Partner': 'Parceiro',
    'customer.Dependents': 'Dependentes',
    'customer.tenure': 'Meses_Contrato',
    'phone.PhoneService': 'Servico_Telefonico',
    'phone.MultipleLines': 'Multiplas_Linhas',
    'internet.InternetService': 'Servico_Internet',
    'internet.OnlineSecurity': 'Seguranca_Online',
    'internet.OnlineBackup': 'Backup_Online',
    'internet.DeviceProtection': 'Protecao_Dispositivo',
    'internet.TechSupport': 'Suporte_Tecnico',
    'internet.StreamingTV': 'Streaming_TV',
    'internet.StreamingMovies': 'Streaming_Filmes',
    'account.Contract': 'Tipo_Contrato',
    'account.PaperlessBilling': 'Fatura_Online',
    'account.PaymentMethod': 'Forma_Pagamento',
    'account.Charges.Monthly': 'Gasto_Mensal',
    'account.Charges.Total': 'Gasto_Total'
})
df.head()

,ID_Cliente,Cancelado,Sexo,Idoso,Parceiro,Dependentes,Meses_Contrato,Servico_Telefonico,Multiplas_Linhas,Servico_Internet,...,Backup_Online,Protecao_Dispositivo,Suporte_Tecnico,Streaming_TV,Streaming_Filmes,Tipo_Contrato,Fatura_Online,Forma_Pagamento,Gasto_Mensal,Gasto_Total
0,0002-ORFBO,0.0,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30
1,0003-MKNFE,0.0,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40
2,0004-TLHLJ,1.0,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,1.0,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,1.0,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40

In [1240]:
#contando quantos clientes estÃ£o zerados em meses de contrato
df.query('Meses_Contrato == 0')['ID_Cliente'].count()

np.int64(0)

In [1241]:
#tirando os clientes zerados
df = df[df['Meses_Contrato'] != 0]

In [1242]:
#verificando se ainda tem o nÃºmero "0"
print(df['Meses_Contrato'].unique())

[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42]

In [1243]:
df.Cancelado.value_counts()

Cancelado
0.0    5163
1.0    1869
Name: count, dtype: int64

In [1244]:
#removendo valor vazio caso ainda tenha
df.dropna(inplace=True)
df.Cancelado.value_counts()

Cancelado
0.0    5163
1.0    1869
Name: count, dtype: int64

In [1245]:
# criando a coluna Contas_Diarias
df['Gasto_Diario'] = (df['Gasto_Mensal'] / 30).apply(lambda x: f'{x:,.2f}')

#convertendo para float
df['Gasto_Diario'] = pd.to_numeric(df['Gasto_Diario'], errors='coerce')
df.head()

,ID_Cliente,Cancelado,Sexo,Idoso,Parceiro,Dependentes,Meses_Contrato,Servico_Telefonico,Multiplas_Linhas,Servico_Internet,...,Protecao_Dispositivo,Suporte_Tecnico,Streaming_TV,Streaming_Filmes,Tipo_Contrato,Fatura_Online,Forma_Pagamento,Gasto_Mensal,Gasto_Total,Gasto_Diario
0,0002-ORFBO,0.0,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30,2.19
1,0003-MKNFE,0.0,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40,2.00
2,0004-TLHLJ,1.0,Male,0,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,2.46
3,0011-IGKFF,1.0,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,3.27
4,0013-EXCHZ,1.0,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40,2.80

In [1246]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID_Cliente            7032 non-null   object
 1   Cancelado             7032 non-null   float64
 2   Sexo                  7032 non-null   object
 3   Idoso                 7032 non-null   int64
 4   Parceiro              7032 non-null   object
 5   Dependentes           7032 non-null   object
 6   Meses_Contrato        7032 non-null   int64
 7   Servico_Telefonico    7032 non-null   object
 8   Multiplas_Linhas      7032 non-null   object
 9   Servico_Internet      7032 non-null   object
 10  Seguranca_Online      7032 non-null   object
 11  Backup_Online         7032 non-null   object
 12  Protecao_Dispositivo  7032 non-null   object
 13  Suporte_Tecnico       7032 non-null   object
 14  Streaming_TV          7032 non-null   object
 15  Streaming_Filmes      7032 non-null   object
 16  Tipo_Contrato         7032 non-null   object
 17  Fatura_Online         7032 non-null   object
 18  Forma_Pagamento       7032 non-null   object
 19  Gasto_Mensal          7032 non-null   float64
 20  Gasto_Total           7032 non-null   float64
 21  Gasto_Diario          7032 non-null   float64
dtypes: float64(4), int64(2), object(16)
memory usage: 1.2+ MB

In [1247]:
colunas = df.columns
colunas

Index(['ID_Cliente', 'Cancelado', 'Sexo', 'Idoso', 'Parceiro', 'Dependentes',
       'Meses_Contrato', 'Servico_Telefonico', 'Multiplas_Linhas',
       'Servico_Internet', 'Seguranca_Online', 'Backup_Online',
       'Protecao_Dispositivo', 'Suporte_Tecnico', 'Streaming_TV',
       'Streaming_Filmes', 'Tipo_Contrato', 'Fatura_Online', 'Forma_Pagamento',
       'Gasto_Mensal', 'Gasto_Total', 'Gasto_Diario'],
      dtype='object')

In [1248]:
df.head(3)

,ID_Cliente,Cancelado,Sexo,Idoso,Parceiro,Dependentes,Meses_Contrato,Servico_Telefonico,Multiplas_Linhas,Servico_Internet,...,Protecao_Dispositivo,Suporte_Tecnico,Streaming_TV,Streaming_Filmes,Tipo_Contrato,Fatura_Online,Forma_Pagamento,Gasto_Mensal,Gasto_Total,Gasto_Diario
0,0002-ORFBO,0.0,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30,2.19
1,0003-MKNFE,0.0,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40,2.00
2,0004-TLHLJ,1.0,Male,0,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,2.46

In [1249]:
colunas_binarias = ['Parceiro', 'Dependentes',
      'Servico_Telefonico', 'Multiplas_Linhas', 'Seguranca_Online', 'Backup_Online',
       'Protecao_Dispositivo', 'Suporte_Tecnico', 'Streaming_TV',
       'Streaming_Filmes', 'Tipo_Contrato', 'Fatura_Online']

for coluna in colunas_binarias:
    print('-> Coluna: ',coluna)
    print(df[coluna].value_counts())
    print('---')

-> Coluna:  Parceiro
Parceiro
No     3639
Yes    3393
Name: count, dtype: int64
---
-> Coluna:  Dependentes
Dependentes
No     4933
Yes    2099
Name: count, dtype: int64
---
-> Coluna:  Servico_Telefonico
Servico_Telefonico
Yes    6352
No      680
Name: count, dtype: int64
---
-> Coluna:  Multiplas_Linhas
Multiplas_Linhas
No                  3385
Yes                 2967
No phone service     680
Name: count, dtype: int64
---
-> Coluna:  Seguranca_Online
Seguranca_Online
No                     3497
Yes                    2015
No internet service    1520
Name: count, dtype: int64
---
-> Coluna:  Backup_Online
Backup_Online
No                     3087
Yes                    2425
No internet service    1520
Name: count, dtype: int64
---
-> Coluna:  Protecao_Dispositivo
Protecao_Dispositivo
No                     3094
Yes                    2418
No internet service    1520
Name: count, dtype: int64
---
-> Coluna:  Suporte_Tecnico
Suporte_Tecnico
No                     3472
Yes                    2040
No internet service    1520
Name: count, dtype: int64
---
-> Coluna:  Streaming_TV
Streaming_TV
No                     2809
Yes                    2703
No internet service    1520
Name: count, dtype: int64
---
-> Coluna:  Streaming_Filmes
Streaming_Filmes
No                     2781
Yes                    2731
No internet service    1520
Name: count, dtype: int64
---
-> Coluna:  Tipo_Contrato
Tipo_Contrato
Month-to-month    3875
Two year          1685
One year          1472
Name: count, dtype: int64
---
-> Coluna:  Fatura_Online
Fatura_Online
Yes    4168
No     2864
Name: count, dtype: int64
---

In [1250]:
# Substituir "No internet service" & "No phone service"â†’ "No"

# colunas relevantes
colunas_internet = [
    'Seguranca_Online', 'Backup_Online', 'Protecao_Dispositivo',
    'Suporte_Tecnico', 'Streaming_TV','Streaming_Filmes'
]

# Substituir nas colunas de internet
for coluna in colunas_internet:
    df[coluna] = df[coluna].replace('No internet service', 'No')

# Substituir na coluna de telefonia
df['Multiplas_Linhas'] = df['Multiplas_Linhas'].replace('No phone service', 'No')

In [1253]:
#padronizando as culunas
df[colunas_binarias] = df[colunas_binarias].replace({'Yes' : 1, 'No' : 0})

#ðŸ“Š Carga e anÃ¡lise

#ðŸ“„Relatorio Final